<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Наш магазин</title>
</head>
<body>
    <h2>Добро пожаловать в магазин женской одежды!</h2>
    <ul>
        <li>{{ mix }}</li>
        <button>К выбору</button>
        <li>{{ dj }}</li>
        <button>К выбору</button>
        <li>{{ cros }}</li>
        <button>К выбору</button>
        <li>{{ cof }}</li>
        <button>К выбору</button>
    </ul>
    <a href="/"><button>На главную</button></a>

</body>
</html>